[submodule "GithubSlackBot"]
	path = GithubSlackBot
	url = https://github.com/thy2134/WorkshopSlackBot
[submodule "BusBot"]
	path = BusBot
	url = https://github.com/pjessesco/bus_bot
[submodule "SpellCheckBot"]
	path = SpellCheckBot
	url = https://github.com/ja01001/chat_bot
[submodule "TranslateBot"]
	path = TranslateBot
	url = https://github.com/ByeongGil-Jung/Slackbot-Translator
[submodule "EbookBot"]
	path = EbookBot
	url = https://github.com/na2na8/ebookbot
[submodule "CalendarBot"]
	path = CalendarBot
	url = https://github.com/WildLaws/School-Calander
[submodule "CoinoneBot"]
	path = CoinoneBot
	url = https://github.com/Mulgist/coinone-ticker-slackbot
[submodule "CinemaBot"]
	path = CinemaBot
	url = https://github.com/CXZ7720/cinema-bot
